<!DOCTYPE html>
<html>
  <head>
    <title>Fitness</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/nav" %>    
    <main>
      <% flash.each do |message_type, message| %>
        <div id='alert' class='absolute w-full flex items-center justify-center'>
          <div class='relative md:w-[70%] w-full h-auto text-center bg-green-300 py-5'>
            <%= message %>
            <button class="absolute text-gray-800 px-4 bg-red-400 text-[20px] font-bold top-0 h-full right-0" onclick="this.parentElement.style.display='none'">
              &times;
            </button>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <% # JavaScript fuction %>

    <script>
      setTimeout(function() {
        let alertElement = document.getElementById("alert");
        if (alertElement) {
          alertElement.style.display = "none";
        }
      }, 3500);
    </script>
  </body>
</html>
